<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumGrid" parallel="tests">
  <test thread-count="5" name="ChromeTest">
  <parameter name="bName" value="Chrome"></parameter>
    <classes>
      <class name="DockerAssignment.SeleniumGridTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="FirefoxTest">
  <parameter name="bName" value="Firefox"></parameter>
    <classes>
      <class name="DockerAssignment.SeleniumGridTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="EdgeTest">
  <parameter name="bName" value="Edge"></parameter>
    <classes>
      <class name="DockerAssignment.SeleniumGridTest"/>
    </classes>
  </test> <!-- Test -->
  </suite> <!-- Suite -->
